.box{
    height: 100%;
    width:100%;
    background-color: white;
    border-radius: 20px;
    margin-top:5%;
    margin-bottom:5%;
}

.title{
    text-align: center;
    padding-top: 20px;
}

.post-info{
    padding:1%;
}

.date{
    margin-right:1%;
}

.author{
    margin-right:2%;
}

.voting{
    display: flex;
    text-align: center;
}

.voting div{
    display: flex;
    text-align: center;
}

.voting i{
    width:20px;
    height:20px;
    margin-top:5px;
    color:rgb(200,200,200);
    cursor: pointer;
}

.voting .upvoted{
    color:rgb(238, 78, 94);
}

.voting .downvoted{
    color:#49cee2;
}

.voting .upvote:hover{
    color:rgb(238, 78, 94);
}

.voting .downvote:hover{
    color:#49cee2;
}

.votecount{
    padding-left:5px;
    padding-right:5px;
}

.post-btns{
    margin-right:2%;
    margin-left:2%;
}

.info-end{
    display: flex;
    justify-content: flex-end;
    font-style: italic;
}

.body{
    padding:1%;
    word-wrap: break-word; 
}

:host ::ng-deep img{ 
    height: auto !important;
    max-width: 100% !important;
}