<app-navbar></app-navbar>
<div class="container top-buffer">
  <div class="card card-block bg-faded">
      <div class="header">
        <h1>About TechFeed</h1>
        <hr>
      </div>
      <p class="card-body">
        TechFeed is a website created as an easy to use hub for interesting developments in technology.
        It aims to inform, interest and integrate people in a variety of technology related fields.
        I hope TechFeed can be a useful resource and be enjoyed by many.
      </p>

      <h1 class="sub-header">Technology Categories</h1><hr>
      <p class="card-body">
        TechFeed has a variety of categories to inform readers of the type of post they
        will expect before deciding to view. We encourage users to use these categories across
        many fields, ranging from programming to business in the tech world.
      </p>

      <ul>
        <li>Software</li>
        <li>Web</li>
        <li>Mobile</li>
        <li>Machine Learning</li>
        <li>Robotics</li>
        <li>Tech News</li>
        <li>Other</li>
      </ul>

      <h1 class="sub-header">Post Guidlines</h1><hr>
      <p class="card-body">
        Posts should be interesting and original, with correct facts and genuine content, they should have
        suitable, SFW imagery. Posts should have correctly selected categories and have suitable titles, relevent
        to the post.

        Any breaches of these conditions will cause posts to be taken down or even account bans in extreme cases.
      </p>
  </div>
</div>