<app-navbar></app-navbar>
<div class="container box">
  <div class="card">
    <h1 class="box-header">Edit Account</h1>
    <hr />
    <div class="card-body">
      <div class="info">
        <h4 class="label"> Username: </h4>
        <input class="username" [(ngModel)]="CurrentUser.username">

        <div class="credentials" id="username-credentials" *ngIf="usernameMsg">
          <hr>
          <p id="username-message">{{ usernameMsg }}</p>
          <br>
        </div>
      </div>

      <div class="info">
        <h4 class="label"> Email: </h4>
        <input class="email" [(ngModel)]="CurrentUser.email">

        <div class="credentials" id="email-credentials" *ngIf="emailMsg">
          <hr>
          <p id="email-message">{{ emailMsg }}</p>
          <br>
        </div>
      </div>

      <div class="info">
        <h4 class="label"> Fullname: </h4>
        <input class="fullname" [(ngModel)]="CurrentUser.fullname">

        <div class="credentials" id="fullname-credentials" *ngIf="fullnameMsg">
          <hr>
          <p id="fullname-message">{{ fullnameMsg }}</p>
          <br>
        </div>
      </div>

      <div class="btns">
        <button class="btn btn-info" (click)="edit()">Confirm Changes</button>
      </div>
    </div>
  </div>
</div>