<app-navbar></app-navbar>
<div class="container box">
  <div class="card">
    <h1 class="box-header">Account</h1>
    <hr />
    <div class="card-body">
      <div class="info">
        <h4 class="label"> Username: </h4>
        <h5 class="username value">{{ CurrentUser.username }}</h5>
        <hr />
      </div>

      <div class="info">
        <h4 class="label"> Email: </h4>
        <h5 class="email value">{{ CurrentUser.email }}</h5>
        <hr />
      </div>

      <div class="info">
        <h4 class="label"> Fullname: </h4>
        <h5 class="fullname value">{{ CurrentUser.fullname }}</h5>
        <hr />
      </div>

      <div class="info">
        <h4 class="label"> Creation: </h4>
        <h5 class="created value">{{ CurrentUser.created }}</h5>
        <hr />
      </div>

      <div class="info">
        <h4 class="label"> Posts: </h4>
        <h5 class="posts value">{{ CurrentUser.posts }}</h5>
        <hr />
      </div>

      <div class="info">
        <h4 class="label"> Total Votes: </h4>
        <h5 class="votes value">{{ CurrentUser.votes }}</h5>
      </div>
    </div>

    <div class="btns">
      <button class="btn btn-info" (click)="edit()">Edit Account</button>
      <button class="btn btn-danger" (click)="delete()">Delete Account</button>
    </div>
  </div>
</div>

<div class="container box" *ngIf="posts.length > 0">
  <div class="cd">
    <h1 class="box-header">My Posts</h1>
    <hr />
  </div>

  <div *ngFor="let post of posts">
      <div class="post">
        <a href="/posts/view/{{ post._id }}">
          <h1 class="post-title">{{ post.title }}</h1>
        </a>
        <hr />
        <a href="/posts/view/{{ post._id }}">
          <div class="image">
            <img *ngIf="post.postimage != 'noimage'" src="{{ post.postimage }}" class="post-image">
            <img *ngIf="post.postimage == 'noimage'" src="../../../assets/noimage.png" class="post-image">
          </div>
        </a>
        <hr />

        <div class="bottom">
          <div class="row">
            <div class="col">
              <div class="categories btn-group" *ngIf="!mobile() && post.categories.length > 0">
                <div class="category" *ngFor="let category of post.categories">
                  <!-- Software -->
                  <div class="row">
                    <div class="col-md-4 col-lg-2">
                      <button class="btn btn-primary" *ngIf="category == 'cb_software'"> Software </button>
                    </div>
                  </div>
                  <!-- Web -->
                  <button class="btn btn-success" *ngIf="category == 'cb_web'"> Web </button>
                  <!-- Machine Learning -->
                  <button class="btn btn-info" *ngIf="category == 'cb_machinelearning'"> Machine Learning </button>
                  <!-- Robotics -->
                  <button class="btn btn-danger" *ngIf="category == 'cb_robotics'"> Robotics </button>
                  <!-- Mobile -->
                  <button class="btn btn-warning" *ngIf="category == 'cb_mobile'"> Mobile </button>
                  <!-- Tech News -->
                  <button class="btn btn-light" *ngIf="category == 'cb_technews'"> Tech News </button>
                  <!-- Other -->
                  <button class="btn btn-dark" *ngIf="category == 'cb_other'"> Other </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="post-info">
              <div class="author">
                Written by: <a href="/account">{{post.author}}</a>
              </div>
              <div class="date">
                {{ post.created }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>