.search-input{
    height:50px;
    border-top-left-radius: 20px 50%;
    border-bottom-left-radius: 20px 50%;
}

.btn-search{
    border-top-right-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
}

.btn-sort{
    margin-left:5px;
    margin-right:5px;
}

.btn-categories{
    margin-left:5px;
    margin-right:5px;
}

.filter .dropdown-item{
    cursor: pointer;
    font-size: 16px;
}


.filter-btn { 
    color: #ffffff; 
    background-color: #1FD17B; 
  } 
   
  .filter-btn:hover, 
  .filter-btn:focus, 
  .filter-btn:active, 
  .filter-btn.active, 
  .open .dropdown-toggle.filter-btn { 
    color: #ffffff; 
    background-color: #1FD17B; 
  } 
   
  .filter-btn:active, 
  .filter-btn.active, 
  .open .dropdown-toggle.filter-btn { 
    background-image: none; 
  } 
   
  .filter-btn.disabled, 
  .filter-btn[disabled], 
  fieldset[disabled] .filter-btn, 
  .filter-btn.disabled:hover, 
  .filter-btn[disabled]:hover, 
  fieldset[disabled] .filter-btn:hover, 
  .filter-btn.disabled:focus, 
  .filter-btn[disabled]:focus, 
  fieldset[disabled] .filter-btn:focus, 
  .filter-btn.disabled:active, 
  .filter-btn[disabled]:active, 
  fieldset[disabled] .filter-btn:active, 
  .filter-btn.disabled.active, 
  .filter-btn[disabled].active, 
  fieldset[disabled] .filter-btn.active { 
    background-color: #1FD17B; 
  } 
   
  .filter-btn .badge { 
    color: #1FD17B; 
  }

.post{
    background-color:white;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.ad{
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.post-title{
    text-align: center;
    padding-top: 20px;
}

.post-image{
    max-height:300px;
    max-width: 100%;
    display:block; 
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.post-info{
    font-style: italic;
    display: flex; 
    justify-content: flex-end;
    margin-top: 5px;
}

.author{
    margin-right:20px;
}

.date{
    margin-right:20px;
} 

.category button{
    border-radius: 20px;
    font-size: calc(.4em + .5vw);
    margin-right:5px;
    margin-left:5px;
    font-family: Verdana;
    pointer-events:none;
}

.categories{
    margin-bottom: 1%;
    margin-left: 8%;
    margin-bottom:2%;
}

.bottom{
    display: flex;
    justify-content: center;
}

@media (max-width: 991px) {
    .btn-group.my-btn-group-responsive > .btn {
      display: block;
      width: 100%;
    }
    
    /* making the border-radius correct */
    .btn-group.my-btn-group-responsive > .btn:first-child {
      border-radius: 6px 6px 0 0;
    }
    .btn-group.my-btn-group-responsive > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
      border-top-right-radius: 6px;
    }
    .btn-group.my-btn-group-responsive > .btn:last-child:not(:first-child) {
      border-radius: 0 0 6px 6px;
    }
    
    /* fixing margin */
    .btn-group.my-btn-group-responsive .btn + .btn {
      margin-left: 0;
    }
    
  }