<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand logo" >TechFeed</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav-content" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <li class="form-inline my-2 my-lg-0">
     <div *ngIf="Authenticated">
          <a href="/account" class="username"><button class="btn btn-primary my-2 my-sm-0 btnAuth">{{CurrentUser.username}}</button></a>
          <a href="/posts/add"> <button class="btn btn-danger my-2 my-sm-0 btnAuth">Make a Post</button> </a>
          <a href="api/auth/logout"> <button class="btn btn-info my-2 my-sm-0 btnAuth">Logout</button> </a>
      </div>
      <div *ngIf="!Authenticated">
        <a href="/auth/login"><button class="btn btn-info my-2 my-sm-0 btnAuth" type="submit">Login</button></a>
        <a href="/auth/register"><button class="btn btn-danger my-2 my-sm-0 btnAuth" type="submit">Register</button></a>
      </div>
    </li>
  </div>
</nav>